/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575*/
/* цвет инфо текста rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --desc-text-color: #757575;
    --info-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;

}

body {
    background-color: white;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

/* HEADER */
.header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-logo {
    color: #000000;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-feature{
    color: var(--accent-color);
}
.menu-link{
    color: var(--primary-text-color);
}
.current{
    color: var(--accent-color);

}
.header-email, .header-phone-number {
    color: var(--desc-text-color);
}
.menu-link:hover, .menu-link:focus,
.header-email:hover, .header-email:focus,
.header-phone-number:hover, .header-phone-number:focus{
    color: var(--accent-color);
}


 /* FOOTER */
.footer{
     background-color: #2F303A;;
}
.footer-logo{
    color: #ffffff;
}
.contact-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.contact-address{
    color: #ffffff;
}
.contact-phone, .contact-email{
    color: var(--info-text-color);
}

/* PORTFOLIO */
.filters-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: ##F5F4FA;
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.project-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--desc-text-color);


}

